@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root {
  /* --bodycolor: #f7f3ff; */
  /* --footercolor: rgb(22, 21, 21); */
  /* --footercolor: rgb(56, 48, 48); */
  /* --footercolor: #252525; */
  /* --footercolor: #424874; */
  /* --bodycolor: #d9d9d9; */
  /* --bodycolor: #F4F4F2; */
  /* --primary-bg1:; */
  /* --color: #fff; */

  /* --OFF-WHITE: #f0ebd8; */
  

  /* --OFF-WHITE: #F4F4F2; */
  --WHITE: #ffffff;
  --BLACK: #000000;
  --OFF-WHITE: #f5f3ea;

  /* --OFF-BLACK: #424874; */
  /* --OFF-BLACK: #1D2D44; */
  --OFF-BLACK: #0b0b0b;
  --GRAY: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--OFF-WHITE) !important;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/******************************************************************************************************************************************/

/* NAV START */
nav {
    /* box-shadow: 5px 2px 4px 0 rgba(0,0,0,.2); */
    background-color: var(--OFF-BLACK);
    color: var(--OFF-WHITE);
    z-index: 999;
    position: fixed;
    width: 100%;
    max-width: inherit;
    /* height: 100px; */
    top: 0px;
    margin-top: 0px;
    z-index: 1000;
}

nav h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    position: fixed !important;
}

.nav-item {
    padding: 0 1rem;
    font-size: 18px;
}

/* .nav-item:hover {
    transition: 0.5s;
    border-radius: 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #AA0000;
}

.navbar-dark .navbar-toggler {
    color: #0b0b0b !important;
    border-color: rgba(255,255,255,.1);
    margin-right: 10px;
} */

/* NAV END */

/******************************************************************************************************************************************/

/* HERO START */
.parallax {
    /* The image used */
    background-image: url("static/hero-img2.jpg");
  
    /* Set a specific height */
    min-height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.hero {
    padding-top: 2.2rem;
}

.hero img {
   background-size: cover;
   /* height: 500px; */
   /* height: 100%; */
   width: 100%;
   background-position: center;
}

.hero:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: calc(100vh); */
    /* background-color: rgba(0, 0, 0, 0.4);    */
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    /* left: 30%; */
    transform: translate(-50%, -50%);
}


/* HERO END */

/******************************************************************************************************************************************/

/* ABOUT US START */
.about-us {
    display: flex;
    justify-content: space-evenly;
    height: 75vh;
}

.about-left {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-right img {
    height: 50vh;
}
/* ABOUT US END */

.quote {
    /* background-color: #383838; */
    /* background-color: #f89595; */
    background-color: #f89595;
    /* background-color: #ff7a7a; */
    /* background-color: var(--OFF-BLACK); */
    color: var(--OFF-WHITE);
    padding: 5% 10%;
}
.quote h1 {
    font-family: serif;
}
/* .quote h3 {
    font-family: serif;
} */

/******************************************************************************************************************************************/

/* OUR STORY START */
.our-story {
    display: flex;
    justify-content: space-evenly;
    height: 75vh;
}

.story-left {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.story-left img {
    height: 50vh;
}

.story-right {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story-right h1, .about-left h1 {
    padding-bottom: 2rem;
}
/* OUR STORY END */

/******************************************************************************************************************************************/

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item img {
    object-fit: cover;
}


/* PRODUCT START */

/* .products-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} */

#products {
    padding-top: 5rem;   
}

.card {
    padding: 0 20px 20px;
    margin: 2rem 0;
    /* max-width: 23rem !important; */
    width: 22rem !important;
    /* filter: drop-shadow(2px 4px 10px black); */
    box-shadow: 0 0 10px 5px #a5a5a5;
    transition: 0.3s;
} 

.card:hover {
    cursor: pointer;
    /* transform: scaleY(1.1); */
    transform: scale(1.05);
    box-shadow: 0 0 20px 5px #575757;

}

.center-it {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* PRODUCT END */

/******************************************************************************************************************************************/

/* CAREER START */
#careers {
    padding-top: 5rem;
}

.careers h5 {
    text-align: center;
}

.careers-content {
    display: flex;
    justify-content: space-evenly;
}

/* #careers h2 {
    text-align: center !important;
} */

.careers-left p, .careers-right p {
    border: 1px solid rgb(25, 25, 141);
    background-color: #e0e2ff;
    padding: 8px;
    border-radius: 4px;
    /* width: fit-content; */
}
/* CAREER END */

/******************************************************************************************************************************************/

/* TIMELINE START */
.svg {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5rem; */
    padding: 1% 0 10% 0;
    /* border: 1px solid black; */
    /* background-color: var(--TEXT-1); */
}

.svg-line {
    width: 90%;
    /* height: 50vh; */
}
.svg-s {
    display: none;
}
/* TIMELINE END */

/******************************************************************************************************************************************/

.goto-top {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0;
}

.go-to {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f89595;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    box-shadow: 2px 2px 5px #575757;
}
.go-to:hover {
    transform: scale(1.1);
    /* box-shadow: 2px 2px 5px 1px #4a4a4a; */
}

.goto-top a{
    text-decoration: none;
    color: var(--GRAY);
}
.goto-top a:hover {
    color: var(--GRAY);
}



/* FOOTER START */
.footer-content {
    width: 100%;
    background-color: var(--OFF-BLACK);
    color: var(--OFF-WHITE);
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
}
.footer-content h3::selection,
.footer-content p::selection,
.footer-content li a::selection {
    background: var(--OFF-WHITE);
    color: var(--GRAY);
}

.footer-content li a {
    /* background-color: yellow; */
    transition: 0.1s;
}
.footer-instagram:hover {
    color: #db4378;
}
.footer-facebook:hover {
    color: #4267B2;
}
.footer-youtube:hover {
    color: #FF0000;
}
.footer-pinterest:hover {
    color: #E60023;
}

.footer-content .socials, .footer-content .location {
    width: 20%;
    /* border: 1px solid wheat; */
}
.footer-content .mapouter {
    width: 35%;
}

.mapouter {
    position: relative;
    text-align: center;
}

.mapouter iframe {
    width: 100%;
    height: 100%;
}

ol,
ul {
  padding-left: 0 !important;
}

.socials ul li {
    list-style: none;
    line-height: 2rem;
}

.socials ul li a {
    /* text-decoration: underline; */
    text-decoration: none;
    color: var(--OFF-WHITE);
    opacity: 0.7;
}

.socials ul li a:hover {
    opacity: 1;
}

.location p{
    opacity: 0.7; 
    line-height: 1rem;  
}

.footer-content {
    border-radius: 0;
    box-shadow: 0 0 15px 5px rgb(58,58,58);
}

.footer-content h3 {
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* FOOTER END */

/******************************************************************************************************************************************/

/* MEDIA QUERY */

@media (max-width: 1280px) {
    /* PRODUCT START */
    .card {
        width: 20rem !important;
    } 
    /* PRODUCT END */
}

@media (max-width: 576px) {
   
    body {
        overflow-x: hidden;
    }

    /* NAV START */
    .navbar-dark .navbar-toggler {
        margin-right: 20px;
      }
   
    /* .navbar {
        padding-top: 1.8rem !important;
    } */
    /* NAV END */

    /* HERO START */
    .hero {
        padding-top: 0;
        margin-top: 50px;
    }
    /* HERO END */

    /* ABOUT US START */
    .about-us {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        padding: 0 20px;
        margin: 20px 0;
    }
    .about-left {
        width: 100%;
    }
    .about-right img {
        width: 65vw;
        height: auto;
    }

    .story-right h1, .about-left h1 {
        padding-bottom: 1rem;
    }

    /* ABOUT US END */
    
    /* OUR STORY START */
    .our-story {
        flex-direction: column-reverse;
        justify-content: flex-start;
        height: auto;
        padding: 0 20px;
        margin: 20px 0;
    }
    .story-left img {
        width: 65vw;
        height: auto;
    }
    .story-right {
        width: 100%;
    }
    /* OUR STORY END */

    /* TIMELINE START */
    .svg-line {
        display: none;
    }
    .svg-s {
        display: block;
        width: 90%;
    }
    /* TIMELINE END */

    .carousel-item {
        height: unset;
        min-height: fit-content;
    }

    .carousel {
        min-height: 250px;
    }

    /* PRODUCTS START */

    /* .wrapper {
        padding-left: 2rem;
    
    } */

    .card {
        padding: 0 20px 20px;
        margin: 2rem 0;
        width: 20rem !important;
    } 
    /* PRODUCT END */

    /* CAREER START */
    .careers-content {
        flex-direction: column;
    }

    .careers-right {
        padding-top: 3rem;
    }

    .careers-left, .careers-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .careers-left p, .careers-right p {
        width: 75%;
    }
    /* CAREER END */

    /* FOOTER START */
    .footer-content .socials, .footer-content .location, .footer-content .mapouter {
        width: 90%;
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-content .socials h3, .footer-content .location h3, .footer-content .mail h3 {
        text-align: center;
    }
    /* FOOTER END */
}