@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* --bodycolor: #f7f3ff; */
  --bodycolor: #d9d9d9;
  /* --footercolor: rgb(22, 21, 21); */
  /* --footercolor: rgb(56, 48, 48); */
  --footercolor: #252525;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bodycolor) !important;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

#about-us {
    padding: 10rem ;
}

/******************************************************************************************************************************************/

nav {
    box-shadow: 5px 2px 4px 0 rgba(0,0,0,.2);
    background-color: var(--footercolor);
    color: #fff;

    z-index: 999;
    position: fixed;
    width: 100%;
    max-width: inherit;
    /* height: 100px; */
    top: 0px;
    margin-top: 0px;

}

.navbar {
    position: fixed !important;
}

nav img {
    height: 3rem;
    background-color: #fff;
    border-radius: 5px;
}

.nav-item {
    padding: 0 1rem;
    font-size: 18px;
}

.nav-item:hover {
    transition: 0.5s;
    /* background-color: rgb(131, 131, 131); */
    border-radius: 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #AA0000;
}
/* .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}

.nav-item {
    padding: 0 1rem;
    font-size: 18px;
    transition: 0.2s;
}

.nav-item:hover {
    background-color: #fff;
    border-radius: 20px;
}

.nav-item a:hover{
    color: black;
} */

/******************************************************************************************************************************************/

/* .carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

  .main-content {
    margin-top: 5rem;
  }
/******************************************************************************************************************************************/
.about-us {
    /* background-color: #AA0000; */
    /* margin-top: 5rem; */
    display: flex;
    justify-content: space-evenly;
}

.about-left {
    width: 40vw;
    padding: 10px;
}
.about-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-right img {
    height: 50vh;
    border-radius: 10px;
}

/******************************************************************************************************************************************/

.our-story {
    display: flex;
    justify-content: space-evenly;
}

.story-left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.story-left img {
    height: 50vh;
    border-radius: 10px;
}

.story-right {
    width: 40vw;
    padding: 10px;

}
/******************************************************************************************************************************************/


/* footer {
    width: 100%;
    background-color: var(--footercolor);
    color: #fff;
}

footer h6 {
    font-weight: 600;
}

.footer-content {
    padding: 2.5rem 0;
    justify-content: space-between;
}

.row-1-left {
    padding: 0 6rem 0 0;
}

.row-1-left li , .row-2-left li , .row-1-right {
    list-style: none;
}

.row-1-left li a , .row-2-left li a, .row-1-right a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
}

.footer-bottom img {
    height: 4rem;
}

.footer-bottom {
    padding: 1rem;
}

.row-1-left ul {
    padding-left: 0;
} */


.footer-content {
    width: 100%;
    background-color: var(--footercolor);
    /* background-color: #d7824b; */
    /* background-color: #848484; */
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 4rem 0;
}

.footer-content .socials, .footer-content .location {
    width: 20%;
    /* border: 1px solid wheat; */
}
.footer-content .mapouter {
    width: 35%;
    /* border: 1px solid wheat; */
}

/* .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 200px;
    width: 200px;
} */

.mapouter {
    position: relative;
    text-align: center;
    /* height: 200px;
    width: 200px; */
}

.mapouter iframe {
    width: 100%;
    height: 100%;
}

ol,
ul {
  padding-left: 0 !important;
}

.socials ul li {
    list-style: none;
    line-height: 2rem;
}

.socials ul li a {
    /* text-decoration: underline; */
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}

.socials ul li a:hover {
    opacity: 1;
}

.location p{
    opacity: 0.7; 
    line-height: 1rem;  
}

.footer-content {
    border-radius: 0;
    box-shadow: 0 0 15px 5px rgb(58,58,58);
    /* box-shadow: 0 -5px 3px -3px black; */
}

.footer-content h3 {
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/******************************************************************************************************************************************/

/* MEDIA QUERY */

@media (max-width: 576px) {
    .about-us {
        display: flex;
        flex-direction: column;
    }
    .about-left {
        width: 100vw;
    }
    .about-right img {
        width: 95%;
    }
    .our-story {
        display: flex;
        flex-direction: column-reverse;
    }
    .story-left img {
        width: 95%;
    }
    .story-right {
        width: 100vw;
    }
    .footer-content .socials, .footer-content .location, .footer-content .mapouter {
        width: 90%;
        /* border: 1px solid wheat; */
    }
    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-content .socials h3, .footer-content .location h3, .footer-content .mail h3 {
        text-align: center;
    }
}